 
<table style='margin-left:150px; width:600px ;margin-top:30px'>
 <tr><td>
[技术支持]: <br>
&nbsp;&nbsp; 客服QQ: 43906333   <br>
  <br>
[联系方式]:<br>
  &nbsp;&nbsp; 地址: 北京市朝阳区广顺南大街33号<br>
  &nbsp;&nbsp; MAIL: goodook#163.com<br>
  &nbsp;&nbsp; 客服QQ: 43906333 或 56222194<br>
  &nbsp;&nbsp; 微信: Cleverbot<br>
   <br>
[赞助我们]:<br>
  &nbsp;&nbsp;赞助目的仅用于服务器带宽消耗，保证功能的持续性
  &nbsp;&nbsp;支付宝账号: 43906333@qq.com   
</td>


<td  width=200>
<center>赞助我们<img src=<?=$baseurl ?>imgs/alipay.jpg  width=200><br>支付宝扫一扫</center>
</td>
</tr></table>