
<DIV class=about>
 <h1><span class=p2 style=";font-size:14pt;color:#4099D5;line-HEIGHT:70px" 
			height=75> php代码在线加密</span></h1> 
	 
 <h1><p style='font-weight:normal'>
 本PHP在线加密是一个免费的PHP源码加密工具，php代码经过加密后无需依靠附加扩展，服务器端无需任何额外配置，可运行于普通 PHP 环境下。 加密的强度较高，在启动时仅消耗少量CPU资源。我们仍然推荐您只加密工程的密码，核心算法或逻辑代码(不推荐所有文件都加密)。
 </p></h1>
 <p style='padding-left:15px'><A class=link1 href="?view=index&sub=online" ><EM><B style='width:90px;padding-left:10px'>立即使用</B></EM></A> </p>
 </DIV>
 
 
<DIV class=carousel-box>
<DIV class=box>
<DIV class=border-right>
<DIV class=border-left>
<DIV class=left-top-corner>
<DIV class=right-top-corner>
<DIV class=inner>
<DIV class=carousel>
<UL>
  <LI>
  <DIV class=inside><IMG alt="" src="<?=$baseurl ?>imgs/img130_01.jpg"> 
  	<div style="font-family:'黑体';font-weight:bold;font-size:14pt;color:#4099D5;" >功能特性</div> 
  <P></P>
  <DL>
      <DD>支持PHP 4.0 以上版本
      <DD>服务器无需安装任何第三方组件
      <DD>支持Windows、Linux、Unix等
      <DD>无需对 Web 服务器做任何修改
      <DD>有效保护算法密码等敏感信息
  
    </DL><A class=link2 
  href="#"><EM><B>了解更多</B></EM></A> </DIV></LI>
  <LI>
  <DIV class=inside><IMG alt="" src="<?=$baseurl ?>imgs/img130_02.jpg"> 
    	<div style="font-family:'黑体';font-weight:bold;font-size:14pt;color:#4099D5;" >永久免费</div>   
  <DL>
	 <DD>独特的加密算法
	 <DD>批量加密(建议)	 
	 <DD>代码自锁保护
	 <DD>加密核心流程，mysql账号
	 <DD>锁定域名IP，时间，访问量	 
	 <DD>可加密任何被php包含的文件(html,css,js等)	
</DL><A class=link2 
  href="doc.html"><EM><B>需求建议</B></EM></A> </DIV></LI>
  
  <LI>
  <DIV class=inside><IMG alt="" src="<?=$baseurl ?>imgs/img130_03.jpg"> 
  <div style="font-family:'黑体';font-weight:bold;font-size:14pt;color:#4099D5;" >增值功能</div> 
  <DL> 
  	<DD>自定义版权信息
    <DD>随机强化加密算法
    <DD> 

   </DL><A class=link2 
  href="#"><EM><B>需求建议</B></EM></A> 
</DIV></LI>
  <LI>
  <DIV class=inside><IMG alt="" src="<?=$baseurl ?>imgs/qrcode.png" width=110 style='margin-top:20px;padding-bottom:10px'> 
  <div style="font-family:'黑体';font-weight:bold;font-size:14pt;color:#4099D5;" >性能测试</div> 
  <DL> 
  	<DD>参考机器:<br>&nbsp;&nbsp;100万加法运算耗时0.05秒,<br>&nbsp;&nbsp;1万次include耗时3.7秒
    <DD>加密后: <br>&nbsp;&nbsp;&nbsp;单个加密文件额外0.0004秒
    <DD> 
   </DL><A class=link2 
  href="#"><EM><B>了解更多</B></EM></A> 
</DIV></LI>

</UL></DIV></DIV></DIV></DIV></DIV></DIV>




<DIV class=border-bot>
<DIV class=left-bot-corner>
<DIV class=right-bot-corner>
<DIV class=prev1><A href="#"><IMG alt="" 
src="<?=$baseurl ?>imgs/prev.gif"></A></DIV>
<DIV class=next1><A href="#"><IMG alt="" 
src="<?=$baseurl ?>imgs/next.gif"></A></DIV></DIV></DIV></DIV></DIV></DIV>
<!---http://www.eyoo.cn/About.html-->

<img src=<?=$baseurl ?>imgs/title_jxal.gif>
<br>
<table width=100%><tr style='font-size:12pt;color:#39d;font-weight:bold'><td align=center>加密前</td><td align=center>加密后</td></tr></table>
&nbsp;&nbsp;&nbsp;&nbsp;<img src='imgs/before.jpg'><img src='imgs/later.jpg'>

 
 <div  style='width:200px;margin:0px  auto'>
 	<br>
 <p style='padding-left:15px;text-align:center;'><A class=link1 href="?view=index&sub=online" ><EM><B style='width:90px;padding-left:20px;font-size:14pt'>立即使用</B></EM></A> </p>
</div>